@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background: #3F292B;
  color: #FDFDF3;
}

.light-mode {
  background: #FDFDF3;
  color: #E30213;
}

html, body {
  font-family: "Roboto Flex", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.desktop-mode,
.nav-links {
  display: none;
}