@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background: #2C2C2C;
  color: #E0E0E0;
}

.light-mode {
  background: #F5F5F5;
  color: #232323;
}

html, body {
  background: linear-gradient(to bottom, #1a1c22, #16171b);
  color: #F0F0F0;
  font-family: "Roboto Flex", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

hr {
  z-index: 10;
}

h1 {
  font-size: clamp(2.5rem, 1.5rem + 5vw, 6rem);
  line-height: 0.90;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.home-cont > h2 {
  font-size: clamp(1.2rem, 0.829rem + 1.857vw, 2.5rem);
  line-height: clamp(1.2rem, 0.624rem + 2.362vw, 2.75rem);
}

.home-cont {
  height: clamp(11.25rem, 10.554rem + 2.857vw, 13.125rem);
}

.home-desc {
  width: clamp(200px, 100%, 800px);
}

.home-desc div {
  font-size: clamp(1rem, 0.963rem + 0.152vw, 1.1rem);
}

@media screen and (min-width: 550px) {
  .home-desc {
    flex-direction: row;
    gap: 20px;
  }
  .home-desc br {
    display: block;
  }
  .home-desc > h2 {
    width: clamp(200px, 100%, 800px);
  }
  .home-desc div {
    width: clamp(200px, 100%, 400px);;
  }
}