@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background: #262626;
  color: #e4e5df;
}

.light-mode {
  background: #F5F5F5;
  color: #232323;
}

html, body {
  font-family: "Roboto Flex", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}